.header-container {
  display: flex;
  height: 10vh;
}

.header-left-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: aqua;
  background-color: grey;
}

.icon {
  height: 10vh;
  margin: 0 50px;
  width: 10vh;
}

.header-right-container {
  height: 100%;
  width: 50%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  background-color: grey;
  color: aqua;
}

.navbar-container {
  height: auto;
  width: auto;
  display: flex;
  gap: 20px;
  margin: 0 50px;
  cursor: pointer;
}
